.game-score {
  height: 303px;
  position: relative;
  width: 1433px;
}

.game-score .score {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 32.64px;
  left: 351px;
  position: absolute;
  top: 80px;
}

.game-score .country {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 57.12px;
  position: relative;
}

.game-score .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 21.76px;
  position: relative;
}

.game-score .frame {
  background-image: url(./frame-24.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 76.16px;
  height: 54.4px;
  position: relative;
  width: 54.4px;
}

.game-score .text-wrapper {
  color: var(--black);
  font-family: var(--heading-h4-font-family);
  font-size: var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  position: relative;
  width: 156.4px;
}

.game-score .score-2 {
  align-items: center;
  display: flex;
  gap: 32.64px;
  justify-content: center;
  position: relative;
  width: 157.76px;
}

.game-score .text-wrapper-2 {
  color: var(--black);
  font-family: var(--heading-h4-font-family);
  font-size: var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  margin-top: -1.36px;
  position: relative;
  text-align: center;
  width: 31.28px;
}

.game-score .text-wrapper-3 {
  color: var(--gray);
  font-family: var(--heading-h6-font-family);
  font-size: var(--heading-h6-font-size);
  font-style: var(--heading-h6-font-style);
  font-weight: var(--heading-h6-font-weight);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  position: relative;
  text-align: center;
  width: 31.28px;
}

.game-score .text-wrapper-4 {
  color: var(--black);
  flex: 1;
  font-family: var(--heading-h4-font-family);
  font-size: var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  margin-top: -1.36px;
  position: relative;
  text-align: center;
}

.game-score .text-wrapper-5 {
  color: var(--black);
  font-family: var(--heading-h4-font-family);
  font-size: var(--heading-h4-font-size);
  font-style: var(--heading-h4-font-style);
  font-weight: var(--heading-h4-font-weight);
  letter-spacing: var(--heading-h4-letter-spacing);
  line-height: var(--heading-h4-line-height);
  position: relative;
  text-align: right;
  width: 156.4px;
}

.game-score .frame-2 {
  background-image: url(./frame-25.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 76.16px;
  height: 54.4px;
  position: relative;
  width: 54.4px;
}

.game-score .goal-socre {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 270.64px;
  justify-content: center;
  position: relative;
  width: 735.76px;
}

.game-score .goal-score {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16.32px;
  position: relative;
  transform: rotate(180deg);
}

.game-score .text-wrapper-6 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  transform: rotate(180deg);
}

.game-score .text-wrapper-7 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  text-align: right;
  transform: rotate(180deg);
}

.game-score .text-wrapper-8 {
  align-self: stretch;
  color: var(--dark-gray);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  margin-top: -1.36px;
  position: relative;
  text-align: right;
  transform: rotate(180deg);
}

.game-score .text-wrapper-9 {
  color: var(--black);
  font-family: var(--heading-h5-font-family);
  font-size: var(--heading-h5-font-size);
  font-style: var(--heading-h5-font-style);
  font-weight: var(--heading-h5-font-weight);
  height: 34px;
  left: 639px;
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
  position: absolute;
  text-align: center;
  top: 27px;
  white-space: nowrap;
}
