.player-info-header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1440px;
}

.player-info-header .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  justify-content: center;
  padding: 80px 64px;
  position: relative;
  width: 100%;
}

.player-info-header .user {
  background-image: url(/media/player-image.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 21px;
  height: 261px;
  position: relative;
  width: 181px;
}

.player-info-header .div {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 80px;
  position: relative;
}

.player-info-header .column {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.player-info-header .heading {
  align-self: stretch;
  color: var(--black);
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  margin-top: -1px;
  position: relative;
}

.player-info-header .text {
  align-self: stretch;
  color: var(--black);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
}

.player-info-header .text a {
  color: inherit;
  text-decoration: none;
}

.player-info-header .text a:hover {
  text-decoration: underline;
}

.player-info-header .list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 464px;
}

.player-info-header .content-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.player-info-header .list-item {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.player-info-header .text-wrapper {
  align-self: stretch;
  color: var(--black);
  font-family: var(--heading-h6-font-family);
  font-size: var(--heading-h6-font-size);
  font-style: var(--heading-h6-font-style);
  font-weight: var(--heading-h6-font-weight);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  margin-top: -1px;
  position: relative;
}

.player-info-header .text-2 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--text-regular-normal-font-family);
  font-size: var(--text-regular-normal-font-size);
  font-style: var(--text-regular-normal-font-style);
  font-weight: var(--text-regular-normal-font-weight);
  letter-spacing: var(--text-regular-normal-letter-spacing);
  line-height: var(--text-regular-normal-line-height);
  position: relative;
}

.player-info-header .list-item-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.player-info-header .text-3 {
  align-self: stretch;
  color: var(--black);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}
