.player-stats {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 112px 64px;
  position: relative;
  width: 1440px;
}

.player-stats .content {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 768px;
}

.player-stats .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.player-stats .heading {
  color: var(--black);
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 768px;
}

.player-stats .text {
  color: var(--black);
  font-family: var(--text-medium-normal-font-family);
  font-size: var(--text-medium-normal-font-size);
  font-style: var(--text-medium-normal-font-style);
  font-weight: var(--text-medium-normal-font-weight);
  letter-spacing: var(--text-medium-normal-letter-spacing);
  line-height: var(--text-medium-normal-line-height);
  position: relative;
  text-align: center;
  width: 768px;
}

.player-stats .placeholder-image {
  align-self: stretch;
  height: 738px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
